
<h1>index tools page</h1>

<%= @tools %>

<p>This is totally working</p>
<div class= "container m-0 mw-100">
  <div class= "row m-0">
    <div class="col-xs-12 col-sm-6 m-0 w-100">
      <h2>tool researched</h2>
      <p>col6</p>
    </div>
    <div class="d-none d-sm-block col-sm-6 m-0 w-100">
      <p>map</p>
    </div>
  </div>
</div>

