<div class="container home_typo">
  <div class="p-5" style="margin: 6rem;">
    <span id="typing"></span>
    <div class="card p-2 rounded shadow-sm">
       <%= render 'shared/long-search-bar' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <h1 class="home_h1">Never buy another tool again!</h1>
      <h3 class="home_h3">Save Money. Access More.</h3>
    </div>
    <div class="col-sm-5"> </div>
  </div>
  <div class="home-card-container">
    <div class="home-row">
      <div class="col-sm-8">
        <div class="home-card-box d-flex">
          <div class="home-card-image shadow-sm">
            <img class="home-card-image__img" style="max-width: 300px;" src="https://images.unsplash.com/photo-1579621970795-87facc2f976d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80">
          </div>
          <div class="home-card-body">
            <div class="home-card-header">
              <h3 class="home_h3">Save Money!</h3>
            </div>
            <div class="home-card-description my-3">
              <p> <span class="home_span">Buy less. Rent for a fraction of the cost. Join our herd of lenders earning <strong>hundreds</strong> each month lending their belongings and equipment.</span></p>
            </div>
            <div class="home-card-small ">
              <p>Lender protection up to £25,000 per item</p>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-sm-4" ></div>
    </div>
     <div class="row mb-5">
      <div class="col-sm-4" ></div>
      <div class="col-sm-8">
        <div class="home-card-box__i d-flex">
          <div class="home-card-image__i">
            <img class="home-card-image__img object-fit" style="max-width: 300px;" src="https://images.unsplash.com/photo-1426927308491-6380b6a9936f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80">
          </div>
          <div class="home-card-body__i">
            <div class="home-card-header">
              <h3 class="home_h3">Access More!</h3>
            </div>
            <div class="home-card-description__i my-3">
              <p> <span class="home_span">Why buy the things you'll only use a few times a month? When you can rent them for a fraction of the price.

              More money for you. Less waste for the planet.</span></p>
            </div>
            <div class="home-card-small align-items-end__i">
              <p> Pursue passions. Get things done. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-square col-sm-6"></div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>


<script>
  var typed = new Typed('#typing', {
  strings: ['For my project I need','For my project I need a hammer','For my project I need a screwdriver','For my project I need a drill'],
  typeSpeed: 40,
  backSpeed: 75,
  showCursor: true,
  smartBackspace: true
  });
</script>


