<div class="container">
  <div class="py-5">
    <%= render 'shared/long-search-bar' %>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <h1>Never buy another tool again! Save Money. Access More.</h1>
    </div>
    <div class="col-sm-5"> </div>
  </div>
  <div class="home-card-container">
    <div class="home-row">
      <div class="col-sm-8">
        <div class="home-card-box d-flex">
          <div class="home-card-image">
            <img class="home-card-image__img" src="https://picsum.photos/536/354">
          </div>
          <div class="home-card-body">
            <div class="home-card-header">
              <h3>Save Money!</h3>
            </div>
            <div class="home-card-description">
              <p> <span>Buy less. Rent for a fraction of the cost. Join our herd of lenders earning <strong>hundreds</strong> each month lending their belongings and equipment.</span></p>
            </div>
            <div class="home-card-small align-items-end">
              <p>Lender protection up to £25,000 per item</p>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-sm-4" ></div>
    </div>
     <div class="row mb-5">
      <div class="col-sm-4" ></div>
      <div class="col-sm-8">
        <div class="home-card-box__i d-flex">
          <div class="home-card-image__i">
            <img class="home-card-image__img" src="https://picsum.photos/536/354">
          </div>
          <div class="home-card-body__i">
            <div class="home-card-header">
              <h3>Access More!</h3>
            </div>
            <div class="home-card-description__i">
              <p> <span>Why buy the things you'll only use a few times a month? When you can rent them for a fraction of the price.

              More money for you. Less waste for the planet.</span></p>
            </div>
            <div class="home-card-small align-items-end__i">
              <p> Pursue passions. Get things done. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-square col-sm-6"></div>
  </div>
</div>












