// .nav-link {
// background-color: pink;
// }

.image_form_bg{
  opacity: 0.4;
  width:480px;
  position: relative;
  margin-top: 48px
}

.delete-class-margin {
  margin-top: 360px;

}

.cards-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

img {
  object-fit: cover;
  object-position: center;
}

.bookings-card {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 320px;
  &:hover {
  box-shadow: 1px 1px 1px 1px grey;
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
  }
}

.card-text {
  padding: 8px;
}

.location p {
  margin-left: 8px;
}

.rating p {
  margin-left: 8px;
  margin-right: 8px;
}

.card-header h4 {
  margin: 0 0 16px 8px;
  padding-top: 0 !important;
}

.ul_decoration {
  list-style-type: none;
}

.edit_icon_user {
  color: #1a80fb;
  font-size: 14px;
  transition: .2s;
}

.small:hover {
  .edit_icon_user{
    color: #225CBB;
    font-decoration: underline;
  }
}

.card-booking-link {
  text-decoration: none;
  color: #0E0000;
  &:hover {
  text-decoration: none;
  color: #0E0000;
}
}



